<p id="notice"><%= notice %></p>

<p>
  <strong>Seller user:</strong>
  <%= @sale.seller_user %>
</p>

<p>
  <strong>Buyer user:</strong>
  <%= @sale.buyer_user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
